h1 {
  color: black;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 200px 200px 200px;
  justify-content: center;
  padding-bottom: 50px;

}

.box {
  border: 2px solid black;
}

body {
  text-align: center;
}

input {
  font-size: 25px;
}